<div id="containerBackground">
  <div class="container" align="center">
    <h4 *ngIf="videoData" class="mainTitle"> RECETA: {{videoData.titulo_video}}</h4>
    
    <div style="width: 100%; height: 600px; position: relative;">
      <div  id='videoContainer' class="d-flex justify-content-center" *ngIf="showVideoContainer">
        <iframe [src]="urlSafe" #videoFrame
        width="{{widthFrame}}"
        height="{{heightFrame}}" 
        frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
    </div>

    

    <div class="d-flex justify-content-between p3 contenedorBotones">
      <div class="d-flex flex-row">
        <img src="/assets/imgs/iconFavorito.png" width="20%" height="70%">
        <button type="button" class="btn">Favoritos</button>
      </div>

      <div class="d-flex flex-row">
        <img src="/assets/imgs/iconDescargaPDF.png" width="20%" height="70%">
        <button type="button" class="btn" (click)="openPDF()">Descargar Receta</button>
      </div>

      <div class="d-flex flex-row">
        <img src="/assets/imgs/iconoCompartir.png" width="20%" height="70%">
        <button type="button" class="btn">Compartir</button>
      </div>

      <div class="d-flex justify-content-start">
        <button type="button" class="btn" (click)="anteriorPasoVideo()">
          <img src="/assets/imgs/stepBack.png" width="40%" height="70%">
        </button> 
        <button type="button" class="btn" (click)="siguientePasoVideo()">
          <img src="/assets/imgs/stepForward.png" width="40%" height="70%">
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-end p-3">
      <h3 style="margin-right: 10px;">Califica esta receta</h3>
      
      <ngb-rating [rate]="rating" [max]=5 [readonly]=false>
        <ng-template let-fill="fill">
          <span class="star" [ngClass]="'color-yellow'"[class.filled]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>

    </div>

    <div *ngIf="videoData">
      <div class="textDescription d-flex p-3">
        <p><span>Descripción</span>: {{videoData.descripcion_video}}</p>
      </div>

      <div>
        <div *ngFor="let ingrediente of videoData.ingredientes" >
          <div class="p-3">
            <h3 style="text-align: left; color: #eb7024;">Ingredientes</h3>
          </div>
  
  
          <div class="d-flex justify-content-between text-white">
            <div class="p-2 flex-fill">
              <ul>
                <li *ngFor="let item of ingrediente[0]">{{item.nombre_ingrediente}}</li>
              </ul>
            </div>
  
            <div class="p-2 flex-fill secondElement">
              <ul>
                <li *ngFor="let item of ingrediente[1]">{{item.nombre_ingrediente}}</li>
              </ul>
            </div>
  
            <div class="p-2 flex-fill">
              <ul>
                <li *ngFor="let item of ingrediente[2]">{{item.nombre_ingrediente}}</li>
              </ul>
            </div>
          </div>
        </div>
        

      <div class="d-flex flex-column lastSection">
        <div class="" *ngFor="let preparacion of videoData.preparacion">
          <h4>Preparación </h4>
          <ul class="padding-1">
            <li *ngFor="let prep of preparacion" >{{prep.descripcion_preparacion}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex flex-column" style="background-color: #353535;">
    <div class="d-flex justify-content-center p-4">
      <textarea class="form-control" style="max-width: 70%"></textarea>
    </div>
    <div class="d-flex justify-content-end" style="padding-right: 16%;">
      <button type="button" class="btn">ENVIAR</button>
    </div>
  </div>
</div>
