<div class="bgcolorDark text-justify">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h1 class="text-orange title">MIS COMPRAS</h1>
            <h1><small class="text-white">Información de tus compras</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-4"><span class="texto1">Videos</span></div>
        <div class="col-sm-12 col-lg-2"></div>
        <div class="col-sm-6 col-lg-4"><span class="texto1">Importe</span></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-lg-4"><img class="img-fluid" src="assets/imgs/video1_dummy.png" alt=""></div>
        <div class="col-sm-12 col-lg-2"></div>
        <div class="col-sm-12 col-lg-4 py-5"><span class="texto">$194 MX</span></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-lg-4"><img class="img-fluid" src="assets/imgs/video2_dummy.png" alt=""></div>
        <div class="col-sm-12 col-lg-2"></div>
        <div class="col-sm-12 col-lg-4 py-5"><span class="texto">$194 MX</span></div>
    </div>
    <br>
    <br>
    <input type="submit" class="btn btn-orange" value="IR A TIENDA">
</div>