.row{ margin-right: 0px; margin-left: 0px; } 

.footer {
    background-color: #191919;
}

.logoFooter {
    img {
        position: absolute;
        margin-left: 3em;
        margin-top: 3em;
        width: 8%;
        height: auto;
    }
}

.txtOrange, a{
    color: #f37421;
    text-transform: uppercase;
}

a{
    text-decoration: underline;
}

.justify-content-center{
    img {
        margin: 10px;
    }
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avisoPrivacidad {
      background-color: black;
      a {
          color: white;
          text-transform: capitalize;
      }
  }



  .port-item {
    width: 30%;
    min-width: 0;
  }

  #bars{
    background-color: #191919;
  }
  
  @media screen and (max-width: 768px) {
    #bars {
      flex-direction: column !important;
      background-color: #191919;
    }
    .port-item {
      width: 100%;
    }
  }