<div class="footer">
    <div class="row" id="footerSup">
        <div class="col" id="supIzquierdo">
            <div class="imgFooter">
                <img src="assets/imgs/logoFooter.png" width="100" height="41">
            </div>
        </div>

        <div class="col" id="supCentro">
            <div class="row">
                <div class="col">
                    <p>CONTACTO</p>
    
                    <p class="text-white">81 8383 8383<br>81 8383 8383</p>
                    <p class="text-white">81 8383 8383</p>
                    <p class="text-white">mail@mail.com</p>
    
                </div>
    
                <div class="col">
                    <p>NOSOTROS</p>
    
                    <p>FACTURACIÓN</p>
                </div>
            </div>

        </div>

        <div class="col" id="supDerecho">
            
            <div class="row" >

                <div class="col"></div>
                <div class="col">
                    <div class="row">
                        <p>Siguenos en</p>
                    </div>
                    <div class="row">
                        <p>redes sociales</p>
                    </div>
                </div>
                <div class="col"></div>

                
            </div>
        </div>
    </div>

    <div class="row" id="footerInf">

    </div>
</div>
<ngx-spinner></ngx-spinner>