<div class="bgcolorDark text-justify">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h1 class="text-orange title">MI PLAN</h1>
            <h1><small class="text-white">Información sobre tu plan</small></h1>
            <h2 id="tipoplan" class="text-orange ">Plan Plus</h2>
            <div class="col-sm-12 col-md-10 col-8 pl-0">
                <p id="detalle" class="texto">Contrata 6 meses y recibe las recetas descargables incluidas</p>
            </div>
            <h2 class="text-orange">Beneficios</h2>
            <div class="col-sm-12 col-md-10 col-8 pl-0">
                <p id="benef" class="texto">20% de descunto en cursos presenciales o tienda en líneva en su primer compra</p>
            </div>
            <h2 class="text-orange">Lorem ipsum</h2>
            <div class="col-sm-12 col-md-10 col-8 pl-0">
                <p id="desc" class="texto"><small>En cursos presenciales o tienda en líneva en su primer compra</small></p>
                <br>
                <input type="submit" class="btn btn-orange" value="CANCELAR SUSCRIPCIÓN">
            </div>
        </div>
    </div>
</div>
