.bgcolorDark {
    background-color: #1d2126;
    padding: 15px 0px 15px 50px;
}

.text-orange {
    color: #f37421;
}

.texto {
    font-size: 12pt;
    color: white;
}

.title {
    font-size: 4em;
    font-stretch: semi-condensed;
    line-height: .5;
}

.btn-orange {
    background-color: #f37421;
    color: whitesmoke;
    font-size: small;
    text-align: center;
    width: 13rem;
    border-radius: 10em;
}
