<div class="bgcolorDark text-justify">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h1 class="text-orange title">MI PLAN</h1>
            <h1><small class="text-white">Información sobre tu plan</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-6 col-lg-8">
            <h2 id="tipoplan" class="text-orange ">Plan Plus</h2>
            <p id="detalle" class="texto">Contrata 6 meses y recibe las recetas descargables incluidas</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4 col-md-6 col-lg-8">
            <h2 class="text-orange">Beneficios</h2>
            <p id="benef" class="texto">20% de descuento en cursos presenciales o tienda en líneva en su primer compra</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 col-md-6 col-lg-8">
            <h2 class="text-orange">Lorem ipsum</h2>
            <p id="desc" class="texto"><small>En cursos presenciales o tienda en líneva en su primer compra</small></p>
        </div>
    </div>
    <br>
    <br>
    <input type="submit" class="btn btn-orange" value="CANCELAR SUSCRIPCIÓN">
</div>
