<div class="bgcolorDark">
    <div class="container-fluid">
        <hr>
        <div class="text-center container">
            <div class="space"></div>
            <br> <br>
            <div class="row">
                <div class="sm-col-12 md-col-4 lg-col-3" id="leftmenu">
                    <ul>
                        <li>
                            <a routerLink="perfil" routerLinkActive="leftmenuActive">
                                <img src="/assets/imgs/iconUser.png" class="prof_ico" /> Editar Perfil
                            </a>
                        </li>
                        <li>
                            <a routerLink="miscompras" routerLinkActive="leftmenuActive activeText"><img src="/assets/imgs/icoCompras.png" class="prof_ico" /> Mis Compras</a>
                        </li>
                        <li>
                            <a routerLink="miplandet" routerLinkActive="leftmenuActive activeText"><img src="/assets/imgs/icoPlan.png" class="prof_ico" /> Mi Plan</a>
                        </li>
                        <li>
                            <a routerLinkActive="leftmenuActive activeText"><img src="/assets/imgs/icoPago.png" class="prof_ico" /> Método de Pago</a>
                        </li>
                        <li>
                            <a routerLinkActive="leftmenuActive activeText"><img src="/assets/imgs/icoDirecciones.png" class="prof_ico" /> Mis Direcciones</a>
                        </li>
                    </ul>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
