.navbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: transparent;
}

.show, .collapsing {
  background-color: rgba($color: #000000, $alpha: 0.7);
  img {
    width: 30%;
    height: auto;
  }
}

.noButton {
  text-shadow: 1px 1px 6px #000000d5;
  background-color: transparent;
  font-size: 13px;
}

.btn-inicio-sesion {
  color: #F27711 !important;
  font-size: 13px;
}

.dropdown-item{
  color: #ffffff;
}

.navbar-toggler {
  background-color: rgba($color: #ffffff, $alpha: 0.7);
}

.bouton-image:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 1px;
  margin-top: -3px;
  vertical-align: text-top;
  background-color: transparent;
  background-position : center center;
  background-repeat:no-repeat;
}

.monBouton:before{
  background-image: url(/assets/imgs/iconUser.png);
}

.navbar-nav .nav-item .nav-link {
  color: #ffffff;
}