<div class="backgroundImage">
  <div class="text-center container">

    <div class="space"></div>

    <h3>SUSCRIPCIÓN</h3>

    <div class="card-deck">

      <div class="card">
        <div class="card-header" style="background-color: #919191;">
          <h5 class="card-title">BÁSICA</h5>
        </div>
        <div class="card-body">

          <p class="card-text text1-1">$2.99<span> USD</span><br><span>Precio por mes</span></p>
          <p class="card-text text2-1">Clases Online y Recetarios <br>Digitales on Demand</p>
          <!-- <p class="card-text text3-1"><span style="font-weight: 400;">NO</span> Digitales on Demand</p> -->

        </div>
        <div class="card-footer">
          <button type="button" class="btn rounded-pill .bg-white btn-comprar1 btn-block" (click)="openFastRegister()" >
            SUSCRIBIRME
          </button>
          <a href="#" class="">Cancela en cualquier comento</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header" style="background-color: #f26c16;">
          <h5 class="card-title">PLUS</h5>
        </div>
        <div class="card-body">

          <p class="card-text text1-2">$4.99 USD<br><span> Precio por mes</span></p>
          <p class="card-text text2-2">Clases OnLine y Recetarios<br>On Demand + 2<br>clases en vivo</p>
          <!-- <p class="card-text text3-2">20% de descuento<br><span>En cursos presenciales o tienda<br>en linea en su primera compra</span></p> -->

        </div>
        <div class="card-footer">
          <button type="button" class="btn rounded-pill .text-white btn-comprar2 btn-block" (click)="openFastRegister()" >
            SUSCRIBIRME
          </button>
          <a href="#" class="">Cancela en cualquier comento</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header" style="background-color: #919191;">
          <h5 class="card-title">PREMIUM</h5>
        </div>
        <div class="card-body">

          <p class="card-text text1-3">$59 <span>USD<br>Precio anual</span></p>
          <!-- <p class="card-text text2-3">Contenido ilimitado</p> -->
          <p class="card-text text3-3">Incluye todo el plan <br>Premium y recibe 2 clases <br>extras en Vivo</p>

        </div>
        <div class="card-footer">
          <button type="button" class="btn rounded-pill .bg-white btn-comprar1 btn-block" (click)="openFastRegister()">
            SUSCRIBIRME
          </button>
          <a href="#" class="">Cancela en cualquier comento</a>
        </div>
      </div>
    </div>
  </div>
</div>
