#spaceNavBar {
  height: 150px;
  background-color: #1d2126;
}

#headerStore {
  background-image: url('/assets/imgs/headerStore.png');
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 400px;
  background-size: cover;
  // background-attachment: fixed;
  background-color: #1d2126;
  // padding-top: 100px;
  h3 {
      text-align: center;
      font-size: 45px;
      color: white;
      line-height: 1.5em;
  }
}


.masonry-item { 
    width: 200px;
    background-color: red;

}


* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
//   background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 300px;
  float: left;
//   background: #D26;
//   border: 2px solid #333;
//   border-color: hsla(0, 0%, 0%, 0.5);
//   border-radius: 5px;
  margin-bottom: 10px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

