<header>
  <div class="contenedor-fijo">

    <h3 class="">Cocina en cualquier lugar en cualquier momento</h3>
    <p class="card-text">
      <button type="button" class="btn text-orange rounded-pill">COCINAR AHORA</button>
    </p>
    <a href="#" class="text-white obtener-info btn-link">Obtener información</a>

  </div>

  <div id="carouselHome" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
      <li data-target="#carouselHome" data-slide-to="1"></li>
      <li data-target="#carouselHome" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/imgs/imgSlider1.png" alt="">
        <div class="carousel-content">
          <p>ACCESO ILIMITADO A CLASES DE COCINA ONLINE.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/imgs/imgSlider2.png" alt="">
        <div class="carousel-content">
          <p>ENCUENTRA UNA GRAN VARIEDAD DE VIDEOS DE COCINA EN LINEA.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/imgs/imgSlider3.png" alt="">
        <div class="carousel-content">
          <p>DESCUBRE VIDEOS CON EL PASO A PASO DESDE CUALQUIER DISPOSITIVO.</p>
        </div>
      </div>
    </div>

  </div>

</header>


<!-- <div class="sticky-top bg-white hidden-spacer"> </div> -->
<div class="bordeNaranja text-center">

  <div class="row h-100 justify-content-center align-items-center">
    <p class="">
      Nos inspira poder transmitir que la cocina es pasión, comunicación <br /> y una forma de disfrutar mientras
      aprendemos.
    </p>
  </div>
</div>

<div class="section2 container-fluid pt-5 h-100" >
  <div class="row h-100 justify-content-center align-items-center" >
    <div class="col">
      <h3 class="section2-title">COCINA <span>AHORA</span></h3>
      <p class="card-text text-section2">
        Descubre una variedad de cursos de cocina y recetarios digitales. Los videos incluyen el paso a paso y una receta en PDF para descargar. 
      </p>
      <a href="#" class="link-section2">Obtener información</a>
    </div>
    <div class="col text-center">
      <img class="img-fluid" src="assets/imgs/section2home1.png">
    </div>
    <div class="w-100"></div>
    <div class="col">
      <img class="img-fluid" src="assets/imgs/section2home2.png" style="width: 100%; height: auto;">
    </div>
    <div class="col">
      <h3 class="section2-title">DISFRUTA DESDE <br><span>CUALQUIER DISPOSITIVO</span></h3>
      <p class="card-text text-section2">
        Disfruta de los videos desde cualquier dispositivo, incluyendo smartphone, smart TV y tablet.
      </p>
      <a href="#" class="link-section2">Obtener información</a>
    </div>
  </div>
</div>


<app-accordion></app-accordion>

<!-- <app-footer></app-footer> -->


<!--container-->
