<div class="bgcolorDark text-justify">
    <br>
    <h1 class="title text-orange">
        Editar Perfil
    </h1>
    <h2 class="text-white">Información básica</h2>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 pl-2">
            <img src="assets/imgs/usuario_dummy.jpg" class="img-fluid rounded-circle img-thumbnail">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 pt-sm-1 pt-md-2 pt-lg-2">
            <p class="text-white">LOREM IPSUM</p>
            <a href="" class="text-orange">Cambiar foto de perfil</a>
        </div>
    </div>
    <br>
    <br>
    <form class="form-horizontal">
        <div class="form-group row">
            <div class="col-sm-6 col-md-5 col-lg-5 pl-0">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="col-sm-12 col-md-2 col-lg-1"></div>
            <div class="col-sm-6 col-md-5 col-lg-5 pl-0">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" class="form-control" id="username">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 col-md-5 col-lg-5 pl-0">
                <label for="mail">Correo electrónico:</label>
                <input type="text" class="form-control" id="mail">
            </div>
            <div class="col-sm-12 col-md-2 col-lg-1"></div>
            <div class="col-sm-6 col-md-5 col-lg-5 pl-0">
                <label for="ubicacion">Ubicacion:</label>
                <input type="text" class="form-control" id="ubicacion">
            </div>
        </div>
        <div class="form-group row">
            <label for="detalle">Acerca de tu perfil:</label>
            <textarea class="form-control" rows="5" id="detalle"></textarea>
        </div>
        <p class="text-grey font-weight-bold">Cambiar contraseña</p>
        <div class="form-group row">
            <div class="float-left">
                <input type="password" class="form-control short" id="contraseña">
                <label for="contraseña"><small>contraseña antigua</small></label>
            </div>
            <div class="float-left pl-2 ">
                <input type="password" class="form-control short" id="nueva">
                <label for="nueva"><small>Contraseña nueva</small></label>
            </div>
            <div class="float-left pl-2">
                <input type="password" class="form-control short" id="confirmar">
                <label for="confirmar"><small>Confirmar nueva contraseña</small></label>
            </div>
        </div>
        <br>
        <input type="submit" class="btn btn-orange" value="Guardar">
    </form>
</div>
