<div id="section-video-day">
    <div id='videoContainer' class="videoContainer" *ngIf="showVideoContainer" >
        <button class="btn closeVideo" (click)="toogleVideo()" >cerrar</button>
        <p style="color: aqua;">AQUI VA EL VIDEO</p>
    </div>
    <div class="textoNombrePlatillo">
        <p>TARTA DE TOMATE Y REQUESÓN</p>
    </div>

    <div class="btnPlayNow">
        <button type="button" class="btn rounded-pill" (click)="toogleVideo()" >
            REPRODUCIR AHORA
        </button>
    </div>
</div>

<app-carrusel-videos carouselID = 'continuarViendo'></app-carrusel-videos>

<app-carrusel-videos carouselID = 'agregadosRecientemente'></app-carrusel-videos>

<app-carrusel-videos carouselID = 'misFavoritos'></app-carrusel-videos>

<app-carrusel-videos carouselID = 'todosLosVideos'></app-carrusel-videos>



 