.row{ 
    margin-right: 0px; 
    margin-left: 0px; 
}

#section-video-day {
    background-image:url('/assets/imgs/imgPlatilloCursoOnline.png');
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 700px;
    background-size: cover;
    // background-attachment: fixed;
    background-color: #1d2126;
}

.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.507);
    bottom: 0px;
    right: 0;
    width: 20%;
    height: 20%;
    z-index: 10;
}

.videoContainer {
    position: absolute;
    top: 0%;
    // background-color: rgba(255, 255, 255, 0.607);
    width: 100%;
    height: 100%;
    z-index: 10000;
    text-align: right;
}

.textoNombrePlatillo {
    position: absolute;
    top: 45%;
    left: 7%;
    p {
        font-size: 35px;
        width: 300px;
        height: auto;
        color: white;
        line-height: 1.2em;
    }
}

.btnPlayNow {
    position: absolute;
    top: 65%;
    left: 7%;
    button {
        font-size: 15px;
        background-color: #F27711;
        color: #fff;
    }
}

.recetas {
    h3 {
        color: white;
        text-transform: uppercase;
        font-size: 25px;
        margin-left: 30px;
        margin-top: 30px;
    }

    .pdfs {
        img {
            cursor: pointer;
        }
    }
}

.card-columns {
    .card{
        cursor: pointer;
        background-color: transparent;
    }
    
}











