.modal-header {
    border-bottom: 0px;
}

.row {
    padding: 10px;
}

.modal-body {
    padding-left: 50px;
    padding-right: 50px;
}

.titleModal {
    margin-top:40px;
}

.btn-primary {
    color: #fff;
    background-color: #f07727;
    border-color: #f07727;
}

.btn-link {
    color: #8d8d8d;
    font-size: 10px;
    text-decoration: underline;
}

.divider {
    border-bottom: 2px solid #999;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
    h3 {
        margin-bottom: 0px;
    }
}