.section3 {
    // min-height: 500px;
    padding: 40px;
    background-color: #333333;

    h3 {
      color: white;
    }
  }

#accordion {
  width: 76%;

  .btn-link.collapsed {
    // font-weight: 400;
    color: #fff;
    text-decoration: none;
  }

  .btn-link:not(.collapsed){
    color:#333333;
  }

  .card {
    background-color: transparent;
    color: white;
  }
}

.card-header {
  height: 50px;
  background-color: #c5c5c4;
}

// .card-body {
//   background-color: transparent;
// }
// .show {
//   background-color: transparent;
// }

.card-header.collapsed {
  background:#ccc;
}
.card-header:not(.collapsed) {
  background:#f37421;
}

h5 {
  text-align: left;
}