<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="onConfirm()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" align="center">
  
    <div class="d-flex justify-content-center box descripcion">
        <img src="/assets/imgs/chefEdna.png" width="50%" height="50%">

        <div >
            <h3 style="color: #eb7024;">EDNA ALANIS</h3>
            <p style="color: #4c4a59; text-align: left; margin-left: 10px;">

                Edna Alanís es originaria de Monterrey y cuenta con más de 25 años de experiencia en relaciones públicas, comunicación y mercadotecnia. Desde siempre tuvo un gusto e inclinación por la gastronomía, y no fue sino hasta el 2000 que decidió dedicarse a ella. 

                Ha colaborado como sub-chef en seminarios impartidos con chefs de prestigio internacional como Sebastien Gaudard, Thierry Blouet, Patricia Quintana y Benoit Gaillot por mencionar algunos. En 2011, la cumbre Madrid Fusión México la nombró embajadora para el noreste de México. Ha participado en diversos foros gastronómicos en México y ha trabajado en la difusión de la gastronomía norestense para promover el consumo de productos regionales para la reactivación de la industria y campos mexicanos.

                Edna fué presidente de la Comisión de Empresarios Jóvenes de Coparmex N.L., fué la primer mujer desde la fundación en 1929 en ser miembro del consejo general y mentora de la comisión que presidió. Obtuvo la categoría de Fire Master por la Sociedad Mexicana de Parrilleros y fué presidente del jurado en el campeonato Grill Master durante 2 años.

                Hoy su cocina GastroBureau ofrece experiencias gastronómicas públicas y privadas, su más reciente proyecto GastroBureau.TV ofrece alternativas digitales para los amantes de la buena cocina.



            </p>
        </div>
    </div>


</div>
