<div class="backgroundImage">
  <div class="text-center container">

    <div class="space"></div>

    <h3>SUSCRIPCIÓN</h3>

    <div class="card-deck">

      <div class="card">
        <div class="card-header" style="background-color: #919191;">
          <h5 class="card-title">BÁSICA</h5>
        </div>
        <div class="card-body">

          <p class="card-text text1-1">$20 <span>por semana</span><br>$80 <span>por mes</span></p>
          <p class="card-text text2-1">Cancela en cualquier <br>momento</p>
          <p class="card-text text3-1"><span style="font-weight: 400;">NO</span> incluye resetas <br>descargables</p>

        </div>
        <div class="card-footer">
          <button type="button" class="btn rounded-pill .bg-white btn-comprar1 btn-block" (click)="showPaymentOptions()" >
            COMPRAR
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-header" style="background-color: #f26c16;">
          <h5 class="card-title">PLUS</h5>
        </div>
        <div class="card-body">

          <p class="card-text text1-2">$60 al mes<br><span>Renovación automática</span></p>
          <p class="card-text text2-2">Contrata 6 meses<br>y recibe las recetas<br>descargables incluidas</p>
          <p class="card-text text3-2">20% de descuento<br><span>En cursos presenciales o tienda<br>en linea en su primera compra</span></p>

        </div>
        <div class="card-footer">
          <button type="button" class="btn rounded-pill .text-white btn-comprar2 btn-block">
            COMPRAR
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-header" style="background-color: #919191;">
          <h5 class="card-title">PREMIUM</h5>
        </div>
        <div class="card-body">

          <p class="card-text text1-3">$660 <span>pago<br>único anual</span></p>
          <p class="card-text text2-3">Contenido ilimitado</p>
          <p class="card-text text3-3">Recibe gratis <br>un curso presencial <br>en la MTY</p>

        </div>
        <div class="card-footer">
          <button type="button" class="btn rounded-pill .bg-white btn-comprar1 btn-block">
            COMPRAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
